*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins','sans-sarif';
}
body{
    background-color: rgb(249, 239, 239) !important;
    height: 200vh;
}
.header{
    width: 100%;
    height: 100vh;
    position: relative;
}
.text-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-links{
    float: right;
}
.nav_bar-top{
     background-color: rgb(249, 245, 240);
     width: 100%;
     height: 15vh;
     padding: 26px;
}
.text-content{
    display: flex;
    align-items: center;
}
.para-text{
    margin-bottom: 0px;
    font-size: 17px;
    color: black;
    font-weight: 500;
    margin: 0px 4px;
}
.span_text{
    padding: 0px 6px;
}
.icon-social{
    color: rgb(224,0,0);
    font-size: 21px;
    padding: 0px 5px;
    margin: 0px 7px;
    cursor: pointer;
}
.icon-social:hover{
    color: rgb(117,6,6);
}
.navbar-container{
    position: absolute;
    top: 55px;
    left: 52px;
    width: 90%;
    background-color: white;
    padding: 16px 38px;
    height: 75px;
    z-index: 55;
}
.heading-logo{
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: black;
    line-height: 20px;
}
.heading-logo span{
    color: rgb(233,154,8);
}
 .nav-item .nav-link{
    color: rgb(8,8,8,0.685);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    list-style: none;
}
.nav-item .nav-link:hover{
    color: rgb(255,102,0,0.911);
}
.home-section{
    width: 100%;
    height: 84%;
}
.home-content{
    width: 100%;
    height: 84vh;
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -55;
}

.img-1{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/indonesia1.jpg)
}
.img-2{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/travel1.avif)
}
.content-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.heading-home{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 22px;
}
.heading-lg-home{
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0px;
    text-align: center;
}
.btn-home{
    display: inline block;
    padding: 15px 38px;
    background-color: rgb(209,95,2);
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0px 0px 0px;
    transition: 0.2s ease-in;
}
.btn-home:hover{
    background-color: rgb(229, 120, 22);
    color: white;
}
.icon-scroll{
    color: #fff;
    background-color: #212121;
    border-color: #212121;
    padding: 12px;
    font-size: 20px;
}
.selection{
    width: 90%;
    height: 15vh;
    background-color: rgb(255,250,250);
    position: absolute;
    bottom: -60px;
    left: 52px;
    padding: 0px 26px;
    box-shadow: 2px 2px 14px rgb(145,142,142);
}
.selection-container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.boxes{
    padding: 12px 20px;
    width: 150px;
    margin: 0px 10px;
    outline: none;
}
.select-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(209,95,2);
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 0px 10px;
    transition: 0.3s ease-in;
}
.select-btn:hover{
    background-color: rgb(206,176,2);
    color: #fff;
}
.about{
    width: 100%;
    height: 100vh;
    margin-top: 120px;
}
.heading-about{
    color: #000;
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0px;
    position: relative;
    font-family: sans-serif;
}
.heading-about::before{
    content: '';
    position: absolute;
    top: 44px;
    left: 134px;
    width: 80px;
    background-color: red;
    height: 3px;
    width: 149px;
}
.heading-about::after{
    content: '';
    position: absolute;
    top: 44px;
    right: 134px;
    width: 80px;
    background-color: red;
    height: 3px;
    width: 149px;
}
.para-about-details{
    display: block;
    color: #0e0f10;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 0px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    font-family: sans-serif;
}
.about-us-content{
    margin-top: 50px;
    font-weight: bold;
    
}
.img-about{
    width: 100%;
    height: 340px;
}
.image-content{
     width: 100%;
     height: 100%;
}
.heading-content{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    color: rgb(209,66,0);
    padding: 10px 20px;
   font-family: sans-serif;
}
.para-content-about{
    font-size: 15px;
    text-align: center;
    line-height: 26px;
    font-weight: 500;
    color: rgb(0,0,0,0.80);
    font-family: sans-serif;
}
.services{
    width: 100%;
    height: 100vh;
    padding: 24px 0px;
    text-align: center;
    margin-top: 50px;
}
.heading-sm{
    text-transform: uppercase;
    color: #8ddb2f !important;
    letter-spacing: 3px;
    font-size: 21px;
    font-weight: 700;
    font-family: sans-serif;
}
.heading-lg{
    font-size: 40px;
    font-weight: 800;
    margin: 20px 0px;
    font-family: sans-serif;
}
.container-services{
    margin-top: 66px;
}
.content-services{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 14px;
    transition: 0.3s ease-in;
}
.img-services{
    width: 100px;
    height: 100px;
    margin-bottom: 11px;
}
.heading-tour{
    font-size: 22px;
    font-weight: 700;
    margin: 7px 0px;
    font-family: sans-serif;
}
.para-tour{
    font-size: 15px;
    color: rgb(0,0,0.747);
    font-weight: 600;
    line-height: 26px;
    margin: 8px 0px;
    font-family: sans-serif;
}
.btn-service{
    display: inline-block;
    padding: 10px 26px;
    background-color: rgb(209,95,2);
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 30px;
    margin: 10px 0px;
    font-family: sans-serif;
    transition: 0.2s ease;
}
.content-services:hover{
    transform: translateY(-6px);
    box-shadow: 2px 2px 14px gray;
}
.content-services .btn-service:hover{
      background-color: rgb(5,97,189);
      color: white;
}
.packages{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 16px 0px;
    margin: 30px 0px;
}
.container-packages{
    margin-top: 62px;
}
.content-packages{
    width: 100%;
    height: auto;
    background-color: white;
    transition: 0.2s ease;
}
.content-packages:hover{
    box-shadow: 1px 1px 10px gray;
}
.img-package{
    width: 100%;
    height: 240px;
}
.image-package{
    width: 100%;
    height: 100%;

}
.content-package-container{
    padding: 18px;
}
.details-package{
    display: flex;
    justify-content: space-between;
}
.icon-detail{
    color: rgb(13,196,13);
    padding: 0px 8px;
    font-size: 13px;
}
.detail-text{
    font-size: 14px;
    font-weight: 600;
    color: rgb(0,0,0.699);
    font-family: sans-serif;

}
.heading-content-package{
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    color: rgba(0,0,0.91);
    margin: 8px 0px;
}

.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rate{
    font-size: 20px;
    font-weight: 500;
}
.stars{
    color: rgb(13,196,13);
    font-size: 15px;
    padding: 0px 8px;
}
footer{
   width: 100%;
   height: 90vh;
   background-color: rgba(31,29,29);
   padding: 24px;
   margin-top: 50px;
}
.footer-container{
    margin-top: 20x;
    padding: 30px 4px 9px 4px;
}
.footer-logo{
    color: rgba(255,255,255,0.863);
    letter-spacing: 2px;
    font-weight: 800;
}
.footer-para{
    font-size: 14px;
    line-height: 30px;
    color: rgba(255,255,255,0.534);
    margin: 25px 0px;
    font-family: sans-serif;
}
.heading-footer{
    color: rgba(255,255,255,0.863);
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 18px 0px;
    font-family: sans-serif;
}
.social-link-footer{
    margin: 16px 0px;
}
.icon-social-footer{
    font-size: 21px;
    padding: 9px;
    border: 1px solid rgba(13,196,13);
    color: rgb(13,196,13);
    margin: 0px 4px;
    cursor: pointer;
    transition: 0.2s ease-in;

}
.icon-social-footer:hover{
    background-color: rgb(13,196,13);
    color: white;
}
.pages-footer{
    padding: 6px 18px
}
.heading-pages{
    color: rgba(255,255,255,0.863);
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 18px;
    font-family: sans-serif;
}
.footer-links{
    font-size: 15px !important;
    color: rgba(255,255,255,0.534) !important;
    font-family: sans-serif;

}
.footer-links:hover{
    color: white !important;
}
.contact-footer{
    display: flex;
    flex-direction: column;
}
.text-contact{
    margin: 16px;
    color: white;
    font-size: 19px;
    color: rgba(255,255,255,0.534);
    font-family: sans-serif;
}
.text-contact:hover{
    color: white !important;
}
.footer-icons{
    font-size: 19px;
    color: rgba(255,255,255,0.863);
    padding: 0px 9px;
}
.footer-rights{
    margin-top: 22px;
    border-top: 1px solid rgba(255,255,255,0.32);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rights-para{
     margin: 0px;
     color: rgba(255,255,255,0.534);
     font-size: 16px;
     font-family: sans-serif;
     margin-bottom: 25px;
}